
<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>Çalışma Geçmişim</h3>
    </div>

    <div class="col-six tab-full left">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Temmuz 2023 - Eylül 2023</p>
                    <h3>KASKİ</h3>
                    <h5>Yazılım Geliştirici</h5>
                </div>
                <div class="timeline__desc">
                    <p>
                        KASKİ bilgi işlem alanında 3 aylık çalışma sürem boyunca, yazılım geliştirme ve optimizasyon konularında yoğun görevlerde bulundum. Kurumun iç sistemlerini iyileştirmek amacıyla çeşitli projelerde aktif rol aldım ve bu projeler kapsamında C#, Python ve SQL gibi programlama dillerini etkin bir şekilde kullandım. .NET framework'ü ile web tabanlı uygulamaların bakım ve geliştirme süreçlerini yürüttüm, performanslarını artırmak için kod optimizasyonları gerçekleştirdim. Ayrıca, HTML, CSS ve JavaScript kullanarak kullanıcı arayüzlerini daha kullanıcı dostu ve işlevsel hale getirdim. Yazılım geliştirme sürecinin analiz, tasarım, geliştirme, test ve bakım aşamalarında deneyim kazandım ve projelerin başarıyla tamamlanmasına katkıda bulundum. Bu süre zarfında, yazılım geliştirme konusundaki yetkinliklerimi artırdım ve büyük ölçekli projelerde takım çalışmasının önemini kavradım. Kendimi FullStack geliştirici olarak daha da geliştirmek için önemli bir adım oldu ve bu deneyim, profesyonel gelişimimde önemli bir rol oynadı.
                    </p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Ekim 2023 - Mart 2024</p>
                    <h3>Türkcell Geleceğe Yazanlar</h3>
                    <h5>Gönüllü Yazılım Yazarı</h5>
                </div>
                <div class="timeline__desc">
                    <p>Turkcell Geleceği Yazanlar'da gönüllü olarak yazılım alanında yazılar yazdım ve bu süreçte yazılım dünyasına dair önemli konuları ele aldım. Çeşitli programlama dillerine ve teknolojilere dair makaleler yazarak, bu alandaki bilgi birikimimi geniş bir kitleyle paylaşma fırsatı buldum. Özellikle C#, Python ve SQL gibi dillerin kullanım alanlarını, pratik ipuçlarını ve en iyi uygulama yöntemlerini detaylı bir şekilde anlattım. Aynı zamanda, .NET framework'ü, HTML, CSS ve JavaScript gibi teknolojilere dair rehberler hazırlayarak, bu konularda bilgi sahibi olmak isteyenlere yardımcı oldum. Gönüllü çalışmalarım, yazılım topluluğuna katkıda bulunmamı sağladı ve aynı zamanda yazılı iletişim becerilerimi geliştirmeme yardımcı oldu. Bu deneyim, yazılım konusundaki tutkumun pekişmesine ve profesyonel gelişimime katkı sağladı.</p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end left -->

    <div class="col-six tab-full right">
        <div class="timeline">

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Haziran 2022 - Devam Ediyor</p>
                    <h3>Serbest</h3>
                    <h5>Web Designer</h5>
                </div>
                <div class="timeline__desc">
                    <p>
                        Son iki yıl boyunca serbest çalışma olarak web geliştirme projelerinde aktif olarak yer aldım. Bu süre zarfında, çeşitli sektörlerden gelen müşterilere özelleştirilmiş web çözümleri sundum ve projeleri baştan sona yönetme deneyimi kazandım. C#, Python ve SQL gibi programlama dillerini kullanarak, dinamik ve etkileşimli web uygulamaları geliştirdim. Aynı zamanda, .NET framework'ü, HTML ve CSS teknolojilerini kullanarak kullanıcı dostu ve işlevsel web siteleri tasarladım.

                        Müşteri gereksinimlerine uygun olarak, e-ticaret siteleri, kurumsal web siteleri ve kişisel portföy siteleri gibi çeşitli projeler geliştirdim. Projelerimin her aşamasında, analiz, tasarım, geliştirme, test ve bakım süreçlerinde yer alarak, yazılım geliştirme döngüsünün tüm yönlerini deneyimledim. Bu süreçte, müşteri memnuniyetini en üst düzeyde tutmayı ve projeleri zamanında teslim etmeyi hedefledim.

                        Serbest çalışma deneyimim, hem teknik becerilerimi hem de proje yönetimi ve müşteri ilişkileri konusundaki yetkinliklerimi önemli ölçüde geliştirdi. Bu deneyim, yazılım geliştirme konusundaki profesyonel yolculuğumda önemli bir rol oynadı ve kendimi FullStack geliştirici olarak daha da ilerletmeme olanak sağladı.
                    </p>
                </div>
            </div> <!-- end timeline__block -->

            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <p class="timeline__timeframe">Serbest</p>
                    <h3>Yerel İşletme Odaklı Tasarım ve Geliştirme</h3>
                    <h5>Yazılım Geliştirici</h5>
                </div>
                <div class="timeline__desc">
                    <p>
                        Serbest zamanlı olarak yerel işletme odaklı tasarım ve geliştirme projelerinde deneyimim bulunmaktadır. Bu süreçte, çeşitli yerel işletmeler için özelleştirilmiş web çözümleri sundum. Projelerim genellikle küçük mağazalar, butikler ve yerel hizmet sağlayıcıları için yapılandırılmıştı. Müşteri ihtiyaçlarına göre özelleştirilmiş e-ticaret siteleri, restoran ve kafe web siteleri gibi çözümler geliştirdim. Her projede, kullanıcı dostu tasarımlarla birlikte işletmelerin online varlıklarını güçlendirmeyi hedefledim.
                    </p>
                </div>
            </div> <!-- end timeline__block -->

        </div> <!-- end timeline -->
    </div> <!-- end right -->

</div>