
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="no-js" lang="en">

@await Component.InvokeAsync("_HeadComponentPartial")
<!--await burda bir asenkron ifade kullnacagım anlamına gelir asenkron demek aynı anda birdencok iş yapılmasına denir suanki bulundugumuz teknolojide bu gereckten kullnaılıyor.-->
<body id="top">

    @await Component.InvokeAsync("_NavBarComponentPartial")

    @await Component.InvokeAsync("_InformationComponentPartial")

    <section id="about" class="s-about target-section">

        @await Component.InvokeAsync("_AboutComponentPartial")

        @await Component.InvokeAsync("_ExperienceComponentPartial")

    </section> 

    @await Component.InvokeAsync("_PortfolioItemComponentPartial")

    @await Component.InvokeAsync("_TestimonialComponentPartial")
  
    @await Component.InvokeAsync("_ContactComponentPartial")

    @await Component.InvokeAsync("_FooterComponentPartial")

</body>

</html>
